/**
 * Compiles all the styles together
 */

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -1;

  #stripe-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: rotate(30deg);

    .stripe {
      width: 45vw;
      height: 200vh;

      &#left {
        background-color: $VIRIDITY_COLOR_LIGHT;
      }

      &#mid {
        background-color: $VIRIDITY_COLOR_MEDIUM;
      }

      &#right {
        background-color: $VIRIDITY_COLOR_DARK;
      }
    }
  }
}

#main-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  #banner {
    .asset-link {
      transition-duration: 500ms;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }

      img {
        margin: 8px;
        height: 60vh;
      }
    }
  }
}

.page {
  .main-content {
    padding: 8px;
  }
}

a {
  text-decoration: none;
  text-decoration-line: none;
}